{
  "schemaVersion": "1.0.0-DRAFT+b6c701f",
  "name": "kubernetes",
  "created": "${TIMESTAMP}",
  "modified": "${TIMESTAMP}",
  "credentials": [
    {
      "name": "kubeconfig",
      "source": {
        "path": "/Users/${USER}/.kube/config"
      }
    }
  ]
}